@import url('https://fonts.googleapis.com/css?family=Architects+Daughter');
//@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR');
@import url('https://fonts.googleapis.com/css?family=Nanum+Brush+Script');
@import url('https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css');

@font-face {
  font-family: "FontAwesome";
  font-weight: normal;
  font-style: normal;
  font-display: block;
  src: url("fonts/fontawesome-webfont.eot");
  src: url("fonts/fontawesome-webfont.eot?#iefix") format("embedded-opentype"),
    url("fonts/fontawesome-webfont.woff2") format("woff2"),
    url("fonts/fontawesome-webfont.woff") format("woff"),
    url("fonts/fontawesome-webfont.ttf") format("truetype"),
    url("fonts/fontawesome-webfont.svg#fontawesomeregular") format("svg");
}
